<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/archive.css" %}">
  <meta charset="UTF-8">
  <title>AppSpeedXray: Application Performance Archive</title>
</head>
<body>
<!--
The Header field: Navigation
-->
<div class="nav-top">
<a class="nav-top-item" href="/">🏠 Home</a>
<a class="nav-top-item" href="/archive">🖴 Archive</a>
<a class="nav-top-item" href="/newreq">🆕 Request new measurements</a>
<a class="nav-top-item" href="https://appspeedxray.cs-cnu.org/"> </a>
</div>

<!--
The Performance Metric field: Table
-->
<div class="entry-list">
  <label for="entry-search"></label>
  <input type="text" id="entry-search" class="entry-search" onkeyup="search()" placeholder="Search for application..">
  <ul class="entry-ul" id="entry-ul">
    {% for app in apps %}
    <li><a href="result?package={{ app }}">{{ app }}</a></li>
    {% endfor %}
  </ul>
</div>

<!--
The search script
-->
<script>
    function search() {
        // Declare variables
        var input, filter, ul, li, a, i;
        input = document.getElementById('entry-search');
        filter = input.value.toUpperCase();
        ul = document.getElementById("entry-ul");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
</body>
</html>
