<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
  <meta charset="UTF-8">
  <title>AppSpeedXray: Application Performance Archive</title>
</head>
<body>
<!--
The Header field: Navigation
-->
<div class="nav-top">
<a class="nav-top-item" href="https://appspeedxray.cs-cnu.org/">⇦ Go to main</a>
<a class="nav-top-item" href="/archive">🖴 Archive</a>
<a class="nav-top-item" href="#">🆕 Request new measurements</a>
</div>

<!--
The Explain field:
1. Where is here?
2. The number of archived measurements currently
3. Menus
-->
<div class="post">
  <h3>Application Performance Archive</h3>
  <ul>
    <li>This is the archive page of <u>AppSpeedXray</u>, mobile application performance measurement, results.</li>
    <li>Currently, <i>620</i> experimental results are archived.</li>
    <li>Select <b>🖴 Archive</b> menu to view the archive results, or <b>🆕 Request new measurement</b> menu to request new measurements.</li>
  </ul>
</div>

</body>
</html>
