<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <meta charset="UTF-8">
    <title>AppSpeedXray: Application Performance Archive</title>
</head>
<body>
<!--
The Header field: Navigation
-->
<div class="nav-top" style="text-align: left">
    <a class="nav-top-item" href="https://appspeedxray.cs-cnu.org/">⇦ Go to main</a>
    <a class="nav-top-item" href="/">🖴 Archive</a>
    <a class="nav-top-item" href="#">🆕 Request new measurements</a>
</div>
</body>
</html>